/* GENERICS */
body{ max-width: 1280px; margin: 0 auto 50px auto; padding: 0; background: #282828; font-family: "Avenir Next", sans-serif; }
.pointer{ cursor: pointer; }
h1{
    font-weight: initial;
    margin: 0;
}
h2{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}
#sub-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: #343434;
}
.main-bg{
    position: relative;
    background: rgba(86,97,151,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,0) 21%, rgba(103,115,177,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(86,97,151,1)), color-stop(20%, rgba(86,97,151,1)), color-stop(21%, rgba(103,115,177,0)), color-stop(100%, rgba(103,115,177,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,0) 21%, rgba(103,115,177,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,0) 21%, rgba(103,115,177,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,0) 21%, rgba(103,115,177,0) 100%);
    background-size: 6px 6px;
    background-position-x: 3px;
    background-position-y: 3px;
}
.main-bg:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgba(86,97,151,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,1) 21%, rgba(103,115,177,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(86,97,151,1)), color-stop(20%, rgba(86,97,151,1)), color-stop(21%, rgba(103,115,177,1)), color-stop(100%, rgba(103,115,177,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,1) 21%, rgba(103,115,177,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,1) 21%, rgba(103,115,177,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(86,97,151,1) 0%, rgba(86,97,151,1) 20%, rgba(103,115,177,1) 21%, rgba(103,115,177,1) 100%);
    background-size: 6px 6px;
    z-index: -1;
}
.secondary-bg{
    background: #232424;
    background: -moz-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,0) 21%, rgba(50,50,50,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(35,36,36,1)), color-stop(20%, rgba(35,36,36,1)), color-stop(21%, rgba(50,50,50,0)), color-stop(100%, rgba(50,50,50,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,0) 21%, rgba(50,50,50,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,0) 21%, rgba(50,50,50,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,0) 21%, rgba(50,50,50,0) 100%);
    background: radial-gradient(ellipse at center, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,0) 21%, rgba(50,50,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232424', endColorstr='#323232', GradientType=1 );
    background-position-x: 3px;
    background-position-y: 3px;
    background-size: 6px 6px;
}
.secondary-bg:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    background: rgba(35,36,36,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,1) 21%, rgba(50,50,50,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(35,36,36,1)), color-stop(20%, rgba(35,36,36,1)), color-stop(21%, rgba(50,50,50,1)), color-stop(100%, rgba(50,50,50,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,1) 21%, rgba(50,50,50,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,1) 21%, rgba(50,50,50,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,1) 21%, rgba(50,50,50,1) 100%);
    background: radial-gradient(ellipse at center, rgba(35,36,36,1) 0%, rgba(35,36,36,1) 20%, rgba(50,50,50,1) 21%, rgba(50,50,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232424', endColorstr='#323232', GradientType=1 );
    background-size: 6px 6px;
    z-index: -1;
}
a{ text-decoration: none; }
a:active, a:focus, a:hover{ text-decoration: none; }
/* END GENERICS */

/* CONTAINERS */
#main-container{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 80px auto auto auto auto auto;
    grid-template-areas:
            "header header"
            "me main"
            "summary-contact main"
            "skills main"
            "filler main"
            ". main"
            "footer footer";
}
#sub-container {
    grid-area: main;
    display: grid;
    background: white;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "experiences" "educations";
    height: 100%;
    z-index: -3;
}
/* END CONTAINERS */

/* HEADER */
header{ grid-area: header; background: #282828; height: 80px; position: relative; }
header #languages{ position: absolute; left: 15px; top: 15px; height: 50px; }
header #languages #french{ display: inline-block; border-radius: 100%; width: 50px; height: 50px; margin-right: 20px; background: url('../img/fr_flag.jpg'); background-size: cover; }
header #languages #english{ display: inline-block; border-radius: 100%; width: 50px; height: 50px; background: url('../img/en_flag.jpg'); background-size: cover; }
header #search-bar{ position: absolute; right: 15px; top: 15px; height: 50px; width: 50px; border-radius: 25px; overflow: hidden; background: white; transition: width 0.3s; }
header #search-bar:hover{ width: 400px; }
header #search-bar::before{ position: absolute; width: 30px; height: 30px; margin: 10px; content: ''; background: url("../img/icon-search.png") no-repeat; background-size: contain; }
header #search-bar-input{ border: none; height: 40px; width: 350px; margin: 5px 15px 5px 40px; padding: 5px 10px; font-size: 20px; font-weight: 100; }
header #search-bar-input::placeholder{ color: black; font-weight: 100; }
header #search-bar-input:focus, header #search-bar-input:active{ outline:0; }
/* END HEADER */

/* ME */
#me{
    grid-area: me;
    position: relative;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}
#me #name{
    padding: 30px 0 0 30px;
    font-size: 100px;
    line-height: 85px;
}
#me #job{
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 45px;
    font-weight: initial;
}
#me #picture{
    position: relative;
    margin: 50px auto -115px auto;
    width: 230px; height: 230px;
    background: linear-gradient(to bottom, #ffffff 0%, #6773b1 100%);
    border-radius: 100%;
    z-index: 1;
    transform: rotate(2deg);
}
#me #picture:before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: url("../img/antoine.jpg");
    background-size: cover;
    border-radius: inherit;
    z-index: 5;
}
/* END ME */

/* SUMMARY-CONTACT */
#summary-contact{
    grid-area: summary-contact;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding-top: 120px;
    padding-bottom: 30px;
    margin-right: -30px;
    color: #dadada;
}
#summary-contact:after{
    content: '';
    position: absolute;
    right: -30px;
    top: -30px;
    bottom: -30px;
    border: 30px solid transparent;
    border-left-color: #222221;
    z-index: -2;
}
#summary-contact #summary{
    padding: 30px 20px 20px 30px;
    font-size: 20px;
    line-height: 28px;
}
#summary-contact .contact{
    line-height: 22px;
    min-height: 25px;
    font-size: 18px;
    margin: 0 20px 15px 40px;
    padding-left: 40px;
    position: relative;
}
#summary-contact .contact.icon:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0.9);
}
#summary-contact .icon-mail:before{ background: url("../img/icon-mail.png"); }
#summary-contact .icon-phone:before{ background: url("../img/icon-phone.png"); }
#summary-contact .icon-here:before{ background: url("../img/icon-here.png"); }
/* END CONTACT-LINKS */

/* SKILLS */
#skills{
    grid-area: skills;
    position: relative;
    color: #fff;
    padding: 20px 40px;
}
#skills .skill{
    position: relative;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
}
#skills .skill .skill-bar{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    height: 9px;
    background: white;
}
progress::-webkit-progress-bar {
    width: 100%;
    margin:0;
    background-color: #343434;
    border-radius: 0;
}
progress::-webkit-progress-value {
    background: white;
}
/* END SKILLS */

#filler{
    grid-area: filler;
    align-self: stretch;
    height: 100%;
}

/* EXPERIENCES */
#experiences{
    padding: 40px 60px 0 60px;
    grid-area: experiences;
    font-family: 'Montserrat', sans-serif;
}
.experience{
    position: relative;
    margin-bottom: 35px;
    min-height: 150px;
}
.experience .experience-time {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    min-height: 30px;
    color: white;
    border-radius: 4px;
    overflow: hidden;
}
.experience .experience-title {
    position: relative;
    font-weight: 700;
    margin-left: 270px;
    min-height: 30px;
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
    border-radius: 4px;
    padding-left: 10px;
    overflow: hidden;
}
.experience .experience-place {
    font-weight: bold;
    font-size: 23px;
    color: #414042;
    margin: 10px 0 5px 120px;
}
.experience .experience-place:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 40px;
    background-size: cover;
}
.experience .experience-place#experience-manomano:before{
    background-image: url("../img/experience-manomano.png");
}
.experience .experience-description {
    margin-left: 120px;
    font-weight: normal;
    font-size: 20px;
    color: #6d6e71;
}
/* END EXPERIENCES */

/* EDUCATION */
#educations{
    padding: 0 60px 0 60px;
    grid-area: educations;
    font-family: 'Montserrat', sans-serif;
}
.education{
    position: relative;
    margin-bottom: 20px;
}
.education .education-year {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    min-height: 30px;
    color: white;
    border-radius: 4px;
    overflow: hidden;
}
.education .education-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    color: #292929;
    margin-left: 130px;
}
/* END EDUCATION */

footer{
    background: white;
    grid-area: footer;
    padding-bottom: 30px;
}